.nav {
    min-height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(61, 61, 61);
    color: rgba(0, 219, 248, 0.904);
    font-size: calc(0.5vw + 14px);
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
}

.logo {
    font-size: calc(0.5vw + 16px);
    font-weight: 400;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-links a:hover {
    transform: scale(1.15);
    transition: transform 0.1s ease-in-out;
    font-weight: 300;
}

.nav-links a:active {
    transform: scale(0.97);
    transition: transform 0.1s ease-in-out;
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 219, 248, 0.904);
}

.burger {
    display: none;
}

.burger div {
    width: 27px;
    height: 3px;
    background-color: rgba(0, 219, 248, 0.904);
    margin: 5px;
    border-radius: 1px;
}

@media screen and (max-width: 768px) {
    #app {
        overflow-x: hidden;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 92.1vh;
        right: -25%;
        top: 7.9vh;
        width: 25%;
        align-items: center;
        background-color: rgb(61, 61, 61);
        transition: transform 0.5s ease-in-out;
    }
    .nav-links li {
        opacity: 0;
        z-index: 3;
    }
    .logo {
        width: 50%;
    }
    .burger {
        display: block;
        cursor: pointer;
        position: relative;
        left: 2%;
    }
    .nav-active {
        transform: translateX(-100%);
    }
    .toggle #line1 {
        transform: rotate(45deg) translate(5px, 6px);
        transition: transform 0.5s;
    }
    .toggle #line2 {
        opacity: 0;
    }
    .toggle #line3 {
        transform: rotate(-45deg) translate(5px, -6px);
        transition: transform 0.5s;
    }
}

@keyframes navIn {
    from {
        opacity: 0;
        transform: translateY(50px);
        transform: translateX(50px);
        transform: rotate(15deg);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: rotate(0);
    }
}